<button mat-button (click) = "startTime()">
    start
</button>
<button mat-button (click) = "pauseTime()">
    pause
</button>
<button mat-button (click) = "stopTime()">
    stop
</button>

<mat-card>
    <mat-card-title>
        do {{currentSession.sessionType}} : 
        {{currentSession.duration}} = 
        {{currentSession.elapsed }} +
        {{currentSession.duration - currentSession.elapsed}}
    </mat-card-title>
    <mat-progress-bar 
        [style.width.%]="this.progressBarWidth"
        mode = "determinate" 
        value = {{this.currentSession.progress}} 
        color = {{this.progressBarColor}} 
    >
    </mat-progress-bar>
    <br>
    <mat-divider [inset]="true"></mat-divider>
    
</mat-card>