<button mat-button [disabled]="buttonStartDisabled()" (click)="startTime()">
    start
</button>
<button mat-button [disabled]="buttonPauseDisabled()" (click)="pauseTime()">
    pause
</button>
<button mat-button [disabled]="buttonStopDisabled()" (click)="stopTime()">
    stop/next
</button>

<mat-card>
    <mat-card-title>
        do {{currentSession.sessionType}} : 
        {{currentSession.duration}} = 
        {{currentSession.elapsed }} +
        {{currentSession.duration - currentSession.elapsed}}
    </mat-card-title>
    <mat-progress-bar 
        [style.width.%]="this.progressBarWidth"
        mode = "determinate" 
        value = {{this.currentSession.progress}} 
        color = {{this.progressBarColor}} 
    >
    </mat-progress-bar>
    <br>
    <mat-divider [inset]="true"></mat-divider>
    
</mat-card>